.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.995117;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.752441;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-1.702800px;}
.ls5{letter-spacing:-0.014400px;}
.ls6{letter-spacing:-0.007200px;}
.ls1{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.010800px;}
.ls4{letter-spacing:0.014400px;}
.ls7{letter-spacing:0.768000px;}
.ls2{letter-spacing:0.810000px;}
.ls0{letter-spacing:127.152000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-127.152000px;}
._3{margin-left:-7.520000px;}
._1{margin-left:-3.528000px;}
._2{margin-left:-1.836000px;}
._4{width:1.728000px;}
.fc1{color:rgb(127,127,127);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.yc{bottom:5.999500px;}
.ye{bottom:8.443400px;}
.yb{bottom:15.999500px;}
.y14{bottom:20.999500px;}
.ya{bottom:25.999500px;}
.y13{bottom:30.999500px;}
.y9{bottom:35.999500px;}
.y12{bottom:40.999500px;}
.y8{bottom:45.999500px;}
.y1{bottom:50.000000px;}
.y11{bottom:51.999500px;}
.yf{bottom:53.999500px;}
.y7{bottom:55.999500px;}
.y6{bottom:65.999500px;}
.y5{bottom:75.999500px;}
.y4{bottom:86.999500px;}
.y2{bottom:424.666000px;}
.y10{bottom:548.000000px;}
.y3{bottom:628.000000px;}
.yd{bottom:696.000000px;}
.h4{height:26.208984px;}
.h5{height:28.441406px;}
.h6{height:31.000000px;}
.h2{height:37.921875px;}
.h7{height:58.242188px;}
.h9{height:64.000000px;}
.h8{height:68.000000px;}
.h3{height:99.000000px;}
.h1{height:695.483400px;}
.h0{height:792.000000px;}
.w3{width:269.337600px;}
.w4{width:270.000000px;}
.w2{width:270.287400px;}
.w1{width:546.966800px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:3.483400px;}
.x1{left:32.516600px;}
.x3{left:36.250000px;}
.x6{left:189.545100px;}
.x5{left:217.301300px;}
.x4{left:306.662400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-2.270400pt;}
.ls5{letter-spacing:-0.019200pt;}
.ls6{letter-spacing:-0.009600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.014400pt;}
.ls4{letter-spacing:0.019200pt;}
.ls7{letter-spacing:1.024000pt;}
.ls2{letter-spacing:1.080000pt;}
.ls0{letter-spacing:169.536000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-169.536000pt;}
._3{margin-left:-10.026667pt;}
._1{margin-left:-4.704000pt;}
._2{margin-left:-2.448000pt;}
._4{width:2.304000pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.yc{bottom:7.999333pt;}
.ye{bottom:11.257867pt;}
.yb{bottom:21.332667pt;}
.y14{bottom:27.999333pt;}
.ya{bottom:34.666000pt;}
.y13{bottom:41.332667pt;}
.y9{bottom:47.999333pt;}
.y12{bottom:54.666000pt;}
.y8{bottom:61.332667pt;}
.y1{bottom:66.666667pt;}
.y11{bottom:69.332667pt;}
.yf{bottom:71.999333pt;}
.y7{bottom:74.666000pt;}
.y6{bottom:87.999333pt;}
.y5{bottom:101.332667pt;}
.y4{bottom:115.999333pt;}
.y2{bottom:566.221333pt;}
.y10{bottom:730.666667pt;}
.y3{bottom:837.333333pt;}
.yd{bottom:928.000000pt;}
.h4{height:34.945312pt;}
.h5{height:37.921875pt;}
.h6{height:41.333333pt;}
.h2{height:50.562500pt;}
.h7{height:77.656250pt;}
.h9{height:85.333333pt;}
.h8{height:90.666667pt;}
.h3{height:132.000000pt;}
.h1{height:927.311200pt;}
.h0{height:1056.000000pt;}
.w3{width:359.116800pt;}
.w4{width:360.000000pt;}
.w2{width:360.383200pt;}
.w1{width:729.289067pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:4.644533pt;}
.x1{left:43.355467pt;}
.x3{left:48.333333pt;}
.x6{left:252.726800pt;}
.x5{left:289.735067pt;}
.x4{left:408.883200pt;}
}
